.general_info {
    & .text_block__separator {
        grid-area: separator;
        &::before {
            @include separator;
        }
    }

    & .text_block__first {
        grid-area: first;
    }

    & .text_block__second {
        grid-area: second;
    }

    &__text {
        background-color: $background-color;

        &_block {
            width: 90%;
            margin: 0 auto;
            padding: 20px 0;

            & p {
                padding-bottom: $spacing-sm;
            }
        }
    }

    &__tagline {
        color: $text-color-dark-secondary;
        font-weight: bold;
        margin: 30px auto;
        width: 90%;
        font-size: $bigger-font-size;
        line-height: $spacing-xl;
        text-align: center;

        &::before {
            @include separator;
        }
    }

    @include breakpoint(lg-phone) {}


    @include breakpoint(tablet) {      
        &__text_block {
            width: 80%;
            padding: 45px 0 30px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 25px;
            
            grid-template-areas:
                "separator separator"
                "first second"
            ;

            & p {
                text-align: start;
                width: 100%;
            }

            & .text_block__first {
                &::before {
                    display: none;
                }
            }
        }

        &__tagline {
            width: 80%;
            margin: 60px auto;
            font-size: $biggest-font-size;
            line-height: $spacing-xxl;
        }
    }

    @include breakpoint(desktop) {
        &__text_block {
            width: 75%;
            padding: 50px 0;
        }

        &__tagline {
            width: 70%;
            margin: 100px auto;
            font-size: $huge-font-size;
            line-height: $spacing-xxxl;
        }
    }
}