.general_info {
    &__text {
        background-color: $background-color;

        &_block {
            width: 90%;
            margin: 0 auto;
            padding: 20px 0;

            & p {
                padding-bottom: $spacing-sm;
            }

            & .text_block__first {
                &::before {
                    @include separator;
                }
            }
        }
    }

    &__img {
        @include backgroundImg;
        background-image: url(../../dist/img/kitchen.jpg);
        height: 200px;
    }

    &__tagline {
        color: $text-color-dark-secondary;
        font-weight: bold;
        margin: 30px auto;
        width: 90%;
        font-size: $bigger-font-size;
        line-height: $spacing-xl;
        text-align: center;

        &::before {
            @include separator;
        }
    }

    @include breakpoint(lg-phone) {}


    @include breakpoint(tablet) {
        &__text_block {
            width: 80%;
            padding: 50px 0 30px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 25px;

            & p {
                text-align: start;
                width: 100%;
            }

            & .text_block__second {
                padding-top: 35px;
            }
        }

        &__tagline {
            width: 80%;
            margin: 60px auto;
            font-size: $biggest-font-size;
            line-height: $spacing-xxl;
        }

        &__img {
            height: 300px;
        }
    }

    @include breakpoint(desktop) {
        &__text_block {
            width: 75%;
            padding: 50px 0;
        }

        &__tagline {
            width: 70%;
            margin: 100px auto;
            font-size: $huge-font-size;
            line-height: $spacing-xxxl;
        }

        &__img {
            height: 550px;
        }
    }
}