.button {
    display: block;
    box-sizing: border-box;
    width: 90px;
    margin: 0 auto;
    padding: 7px 0;
    cursor: pointer;
    // border: none;
    outline: none;
    align-self: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

    &.close {
        width: 1.25rem;
        position: absolute;
        right: 7px;
        top: 7px;
        padding: 3px;
        background-color: $secondary-color;

        &:hover {
            border: 1px solid black;
        }
    }

    &.book {
        background-color: $text-color-dark-secondary;
        color: $text-color-light;
    }

    &.subscribe {
        position: absolute;
        font-size: 12px;
        // border: 1px solid transparent;
        background-color: $text-color-dark-secondary;
        color: $text-color-light;
        right: 14%;
        top: 50%;
        width: 65px;
        cursor: pointer;
        padding: 4px 3px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    &:hover {
        background-color: $secondary-color;
    }

    &.submit {
        background-color: $secondary-color;

        &:hover {
            color: $text-color-light;
        }
    }

    &.reject {
        background-color: $background-color;

        &:hover {
            color: $secondary-color;
        }
    }


    @include breakpoint(tablet) {
        width: 110px;
        padding: 10px 0;
    }

    @include breakpoint(desktop) {
        width: 130px;
        padding: 12px 0;
    }
}

.general_info .button {
    @include breakpoint(tablet) {
        margin: 0;
    }
}

.header .button {
    @include breakpoint(lg-phone) {
        margin: 10px 10px auto 0;
    }

    @include breakpoint(tablet) {
        margin: auto 3% auto 0;
    }
}

.submit,
.reject {
    width: 45%;
    font-size: $smaller-font-size;
    box-sizing: border-box;

    &:hover {
        border: 1px solid $text-color-dark-secondary;
    }

    @include breakpoint(tablet) {
        width: 35%;
    }
}

.to_start {
    position: fixed;
    width: 45px;
    bottom: 3%;
    right: 3%;
    background-color: $secondary-color;
    color: $text-color-light;
    font-size: $small-font-size;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
}